html {
    background: #A9CCE3;
}

body {
    align-content: center;
}

main {
    margin: 5px;
    padding: 50px;
}

table {
    align-content: center;
    margin: 10px;
    border: 2px solid black;
}

figure img:hover {
    -webkit-transform: scale(1.55);
}

img {
    width: 100px;
}

tr {
    margin: 10px;
    padding: 10PX;
}

h2 {
    margin: 5px;
    font-size: 2em;
    text-align: center;
}

label {
    font-family: sans-serif;
    color: red;
    font-size: 1.3em;
}

td {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

a {
    font-family: sans-serif;
    color: forestgreen;
    font-size: 1.3em;
}
