html {
  background:#A9CCE3;
}
main{
    margin: 50px;
    padding: 50px;
}
table{
    align-content: center;
    margin: 10px;
}
img{
    width: 100px;
}

tr{
    margin: 30px;
}

td{
    margin: 30px;
    padding: 20px;
}