*{box-sizing:border-box
margin:50px;
}

body{
  background-color: #006064;
}


  header{

  background-image: url(../Recursos/log.jpg);
  width: 100% auto;
  background-position: center;
  background-color:#044499;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 20px;
  box-sizing: content-box;
  box-shadow: 2px 2px 2px 2px;
  border-style:ridge;
  border-radius: 10px 40px;
  border-right: 20px;
  border-left: 20px;
  background-repeat: no-repeat;
  padding-top: 50px;


}

h1{
  border-left-color: coral;
  text-align: center;
  text-shadow: 10px 5px 5px 10px;
  font-size: 50px;
  font: bold 320% Arial, Helvetica, sans-serif;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px rgb(73, 240, 59);

}


a{
  text-decoration: inherit;
  font-family: sans-serif;
  text-align:center;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border: 7px 7px 7px 7px;
  font-size: 20px;
  padding: 15px;
  font-style: normal;
  justify-content:center;
  color: rgb(242, 245, 250);
}

ul{
  font-size: 25px:
  justify-content:center;
  text-align: center;
  background-color:#d75c41;
  float:none;
  border: 5px solid black;
  cursor: pointer;
  padding: 20px;
}

li{
    border-width: medium;
    list-style: none;
    text-align: center;
    padding-bottom:  910px;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}


small{
font-style: normal;
color: black;
text-align:left;
}

img:hover{
  border-radius: 25px;
  box-shadow: 30px 10px 30px 10px;

}


footer{
  background-clip: padding-box;
  background-color: opacity;

  box-shadow: 5px,5px;
  width: auto;
  text-align: center;
}

#piepagina:hover{
  text-align: center;
  text-shadow: 1px 1px 1px rgb(144, 152, 150);
  text-decoration-color: #ffff;
}

#seccion1{
  padding-top: 50px;
}
#seccion2{
  padding-top: 60px;
}


.div1{
  padding-top: 30px;
}

.div2{
  border: 1px solid black;

}

.p1,.p2{
  border: 1px solid black;
  outline: #4CAF50 solid 2px;
  outline-color: rgb(33, 232, 26);
  outline-style: double;
  margin: auto;
  padding: 2px;
  text-align: left;
  justify-content: center;
  width: auto;


}


.slideshow-container{
 max-width: 1000px;
 position:relative;
 margin:auto;
}

.mySlides{
 display:none;
}

.prev, .next{
 cursor:pointer;
 position:absolute;
 top:50%;
 width:auto;
 margin-top:-22px;
 padding:16px;
 color:white;
 font-weight:lighter;
 font-size:18px;
 transition:0.6s ease;
 border-radius:0 3px 3px 0;
}

.next{
 right:0;
 border-radius:3px 0 0 3px;
 color: rgb(237, 134, 152);
}
.prev{
  left:0;
  border-radius:3px 0 0 3px;
  color: rgb(237, 134, 152);
}

.prev:hover, .next:hover{
 background-color:rgb(21, 62, 18);
}

.text{
 color:#f2f2f2;
 font-size:15px;
 padding:8px 12px;
 position:absolute;
 bottom:8px;
 width:100%;
 text-align:center;
}

.numbertext{
 color:#f2f2f2;
 font-size:12px;
 padding:8px 12px;
 position:absolute;
 top:0;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.0s;
 animation-name:fade;
 animation-duration:1.0s;
}


@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}
