*{box-sizing:border-box
margin:50px;
}

body{
  background-color: #006064;
}

header{
  margin: auto;
  box-shadow: 5px 5px;
  padding: 10px;
  background-image: url(../Recursos/scrumboard.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 50px 10px;
  border-right-color: coral;
  border-left-color: coral;

}

h1{
  border-left-style: solid;
  border-left-color: coral;
  border-right-color: coral;
  text-align: center;
  text-shadow: 10px 5px 5px 10px;
  font-size: 50px;
  font: bold 320% Arial, Helvetica, sans-serif;
  padding-top: 30px;
  text-shadow: 2px 2px rgb(73, 240, 59);

}
h2{
  text-align: right;
  text-align: top;
}

a{
  text-decoration: inherit;
  font-family: sans-serif;
  text-align:center;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border: 7px 7px 7px 7px;
  font-size: 20px;
  padding: 15px;
  font-style: normal;
  justify-content:center;
  color: rgb(242, 245, 250);
}

ul{
  font-size: 25px:
  justify-content:center;
  text-align: center;
  background-color:#d75c41;
  float:none;
  border: 5px solid black;
  cursor: pointer;
}

li{
    list-style: none;
    text-align: center;
    padding-bottom:  910px;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}


small{
font-style: normal;
color: black;
text-align:left;
}

img:hover{
  border-radius: 25px;
  box-shadow: 30px 10px 30px 10px;
}



section{
  text-align:right;
  float:left;
  font-style: normal;

}
small{
  text-align: center;
}

.my_footer{
  position: absolute;
  bottom: 1000px;
  top:1200px;
  border: solid;
}
.div2{
  border: 1px solid black;

}

.p1{
    border: 1px solid black;
     padding: 10px;
     width: 200px;
     height: 400px;
     text-align: justify;
     float: left;
     font-style: italic;

}

.p2{
  border: 1px solid black;
   padding: 10px;
   width: 200px;
   height: 400px;
   text-align: center;
   float: right;
   font-style: italic;

}

.slideshow-container{
 max-width: 1000px;
 position:relative;
 margin:auto;
}

.mySlides{
 display:none;
}

.prev, .next{
 cursor:pointer;
 position:absolute;
 top:50%;
 width:auto;
 margin-top:-22px;
 padding:16px;
 color:white;
 font-weight:bold;
 font-size:18px;
 transition:0.6s ease;
 border-radius:0 3px 3px 0;
}

.next{
 right:0;
 border-radius:3px 0 0 3px;
 color: rgb(237, 134, 152);
}
.prev{
  left:0;
  border-radius:3px 0 0 3px;
  color: rgb(237, 134, 152);
}

.prev:hover, .next:hover{
 background-color:rgb(21, 62, 18);
}

.text{
 color:#f2f2f2;
 font-size:15px;
 padding:8px 12px;
 position:absolute;
 bottom:8px;
 width:100%;
 text-align:center;
}

.numbertext{
 color:#f2f2f2;
 font-size:12px;
 padding:8px 12px;
 position:absolute;
 top:0;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}


@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}
