*{box-sizing:border-box
margin:50px;
}

body{
  background-color: rgb(42, 217, 212);
}

header{
  margin: auto;
  box-shadow: 5px 10px;
  padding: 10px;
  background: #36c8bf;
  border: 1px solid rgb(48, 199, 223);
  border-radius: 10px 10px;
  border-left-color: coral;
  scroll-behavior: auto;
}

a,h1{
  text-decoration: inherit;
  font-family: sans-serif;
  text-align:center;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  font-size: 20px;
  padding: 15px;
  font-style: normal;
  justify-content:center;
  color: rgb(242, 245, 250);
}

ul{
  font-size: 15px:
  justify-content:center;
  text-align: center;
  background-color:#d75c41;
  float:none;

}

li{
    list-style: none;
    text-align: center;
   padding-bottom:  910px;
    display: inline;
    padding-left: 30px;
}

.slideshow-container{
 max-width: 1000px;
 position:relative;
 margin:auto;
}

.mySlides{
 display:none;
}

.prev, .next{
 cursor:pointer;
 position:absolute;
 top:50%;
 width:auto;
 margin-top:-22px;
 padding:16px;
 color:white;
 font-weight:bold;
 font-size:18px;
 transition:0.6s ease;
 border-radius:0 3px 3px 0;
}

.next{
 right:0;
 border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
 background-color:rgba(0,0,0,0.8);
}

.text{
 color:#f2f2f2;
 font-size:15px;
 padding:8px 12px;
 position:absolute;
 bottom:8px;
 width:100%;
 text-align:center;
}

.numbertext{
 color:#f2f2f2;
 font-size:12px;
 padding:8px 12px;
 position:absolute;
 top:0;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}
